<%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h2>TITLE HEADING</h2>
    <div class="img-thumbnail"><img src="img/1.jpeg"/></div>
  	<div class="img-thumbnail"><img src="img/2.jpg"/></div>
  	<div class="img-thumbnail"><img src="img/3.jpg"/></div>

  	<p>What is it about movies that makes them so popular? Many of us absolutely adore film and want to see everything that comes out, no matter what genre or who is starring in it. It’s not always about the storyline; there is something else that makes movies magical. Here are some of the reasons why movies are so well-loved.</p>
  	
  	<p>It’s A Shared Experience
Of course, it’s fine to watch movies on your own, but when you’re watching them with other people, it’s a wonderful shared experience that is difficult to find elsewhere. You might be watching with a group of friends at home where you can discuss what is going on and give your own opinion, and that’s always fun and makes the experience a better one. Alternatively, you might be in the cinema with a group of strangers, but you will still be experiencing the same movie at the same time, and you’ll react together. Something will make you laugh, gasp, maybe even cry, and you will be sharing that with people you will never see again, which is exciting and special.</p>
<%- include('../partials/footer') %>
