<%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h2>The Dark Knight</h2>
  	<div class="img-thumbnail"><img src="img/3.jpg"/></div>
  	<p>The Dark Knight is a 2008 superhero film directed by Christopher Nolan from a screenplay he co-wrote with his brother Jonathan. Based on the DC Comics superhero Batman, it is the sequel to Batman Begins (2005) and the second installment in The Dark Knight Trilogy. The film follows the vigilante Batman, police lieutenant James Gordon, and district attorney Harvey Dent as they form an alliance to dismantle organized crime in Gotham City. Their efforts are derailed by the intervention of the Joker, an anarchistic mastermind who seeks to test how far Batman will go to save the city from complete chaos. The ensemble cast includes Christian Bale, Michael Caine, Heath Ledger, Gary Oldman, Aaron Eckhart, Maggie Gyllenhaal, and Morgan Freeman.</p>


  	<p>Warner Bros. Pictures prioritized a sequel following the successful reinvention of the Batman film series with Batman Begins. Nolan developed the core story elements alongside Begins co-writer David S. Goyer, making Dent the central protagonist and tragic hero caught in the battle between Batman and the Joker. In writing the screenplay, the Nolans were influenced by various 1980s Batman comics and crime drama films and sought to continue Begins' heightened reality tone. Filming took place from April to November 2007, on a $185 million budget, in Chicago, Hong Kong, and on sets in England. The Dark Knight was the first major motion picture filmed with high-resolution IMAX cameras. Nolan avoided using computer-generated imagery unless necessary, insisting on practical stunts including flipping an 18-wheel truck and blowing up a factory.</p>
<%- include('../partials/footer') %>